.AppName {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.Header {
    height: auto;
    background-color: #530818;
    color: white;
    align-items: center;
    /* padding: 1%; */
    min-width: 100% !important;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 3px 6px 0 #555;
    /* position: fixed; */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    /* border: 2px solid white !important; */
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    /* width: 150%; */
}

.column {
    /* border: 2px solid yellow !important; */
    align-items: center;
    text-align: center;
}

.links>.column {
    /* height: 100% !important; */
    margin-top: auto;
    margin-bottom: auto;
}



.column:last-child {
    /* z-index: 1000; */
    width: 100%;
    margin-right: 0;
}

.dropdown .dropdown-btn {
    background: transparent !important;
    outline: none !important;
    border: none !important;
    /* color: white !important; */
    color: white;
    font-weight: bold;
    z-index: 999;
}

/* .dmenu {
    background-color: #9d1835 !important;
    color: white;
    z-index: 999;
    width: 80px !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
} */

.dmenu {
    max-height: 200px !important;
    overflow: visible !important;
    overflow-y: auto !important;
    /* margin-right: 20px; */
}

.dmenu::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for WebKit browsers */
}


.ditem {
    padding: 6% !important;
}

.dropdown-menu {
    /* border: 2px solid white !important; */
    border-top: none !important;
    background-color: #530818;
    position: absolute;
    inset: 10px 30px auto 0px !important;
    transform: translate3d(15px, 36.8px, 0px) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 160px !important;
    /* box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.6); */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.4);
}


/* .ditem:hover {
    background-color: #8b8082 !important;
    color: white !important;
} */

.navbar {
    overflow: visible !important;
    /* Ensure the navbar doesn't hide the dropdown */
}

@media (max-width: 978px) {
    .column:last-child {
        margin-top: 5px !important;
    }
}

@media (max-width: 568px) {
    .column:last-child {
        margin-top: 4px !important;
    }
}

.SearchBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px 10px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    align-items: center;
    /* width: 80%; */
    background-color: white;
}

.SearchIcon {
    width: 32px;
    height: 32px;
}

.CloseIcon {
    width: 30px;
    height: 30px;
    /* margin-left: 35%; */
    margin-left: auto;
    /* border: 2px solid black; */
    padding: 5px;
}

.CloseIcon:hover {
    /* width: 30px;
    height: 30px; */
    transition: 0.3s;
}

.SearchInput {
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    margin-left: 15px;
    /* border: 2px solid black; */
    width: 100%;
}

.navbar {
    overflow: hidden;
    background-color: transparent;
    margin-right: 3%;
}

.navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    /* border: 2px solid white; */
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
}